<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['ID', 'Avg. Age', 'Avg. Liberalism', '', 'Population'],
      <% data.forEach(function(d, i){ %>
        ["<%= d[0] %>", <%= d[2] %>, <%= d[1] %>, <%= d[1] %>, <%= d[3] %>] <%= i<data.length-1 ? ',' : '' %>
      <% }); %>
    ]);

    var data_3 = google.visualization.arrayToDataTable([
      ['Language', 'Avg. Liberalism'],
      <% data.forEach(function(d, i){ %>
        ["<%= d[0] %>", <%= d[1] %>] <%= i<data.length-1 ? ',' : '' %>
      <% }); %>
    ]);

    var options = {
      hAxis: {title: 'Avg. Age', viewWindow:{max:40, min:25}},
      vAxis: {title: 'Avg. Liberalism', viewWindow:{max:80, min:50}},
      colorAxis: {colors: ['red', 'yellow']}
    };

    var options_2 = {
      hAxis: {title: 'Avg. Age'},
      vAxis: {title: 'Avg. Liberalism'},
      colorAxis: {colors: ['red', 'yellow']}
    };

    var options_3 = {
      hAxis: {title: '', slantedTextAngle:90},
      vAxis: {title: 'Avg. Liberalism'},
      colorAxis: {colors: ['red', 'yellow']}
    };

    var chart = new google.visualization.BubbleChart(document.getElementById('chart_div'));
    chart.draw(data, options);
    var chart_2 = new google.visualization.BubbleChart(document.getElementById('chart_div_2'));
    chart_2.draw(data, options_2);
    var chart_3 = new google.visualization.ColumnChart(document.getElementById('chart_div_3'));
    chart_3.draw(data_3, options_3);
  }
</script>



<div class="chart-wide">
  <p>
    The Political Inclination of Programming Languages
  </p>
  <p class="chart-copy">
    Survey responders were asked to identify their favorite programming language.
  </p>
  <p class="chart-copy">
    <b>Software Liberalism (y-axis):</b> 'Bugs are not a big deal',
     'Premature optimization is the root of all evil' and 'Rigid schemas limit flexibility and slow down 'development'. A score of of 0% would imply 100% Conservatism
  </p>
  <p class="chart-copy">
    <b>Software Conservatism:</b> 'Software should aim to be bug free before it launches',
     'Production code must be safety checked by a compiler' and 'Fast is better than slow. Everybody hates slow code'. A score of of 0% would imply 100% Liberalism 
  </p>

  <!--<p class="chart-copy">
    <a href="http://news.ycombinator.com/item?id=4391353">Hacker News Comments</a>
  </p>-->

</div>
<div id="chart_div" class="chart-div" style="width: 1200px; height: 700px;"></div>
<div id="chart_div_2" class="chart-div" style="width: 1200px; height: 700px;"></div>
<div id="chart_div_3" class="chart-div" style="width: 1200px; height: 700px;"></div>
<div class="chart-copy">
  <p>
    <a href="/">Take the survey</a> |
    <a href="/stats/langs/raw">Raw Data</a> |
    Created by <a href="http://twitter.com/mkrecny">Myles Recny</a>.
  </p>
</div>
